<!--<p>edit-experience works!</p>-->
<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Experience
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="experienceFormGroup" *ngIf="experienceFormGroup" (ngSubmit)="onUpdateExperience()">
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="poste"
            placeholder="Enter Post ...">
          </div>
          <!-- <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
          class="alert alert-danger"> Title is Required</div> -->
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="entreprise"
            placeholder="Enter Entreprise ...">
          </div>
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="periode"
            placeholder="Enter period...">
          </div>
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="detail"
            placeholder="Enter Details ...">
          </div>
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="country"
            placeholder="Enter Country ..."
            >
          </div>
          <button type="submit" class="btn btn-success ">Save</button>
  
        </form>
      </div>
    </div>
  </div>