<div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Url</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of liensInput" >
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.urll}}</td>
             
            <td>
              <button
                (click)="onDelete(item)"
                class="btn btn-sm btn-danger">
                <span class="fa fa-trash-o"></span>
              </button>
            </td>
            <td>
              <button
                (click)="onEdit(item)"
                class="btn btn-sm btn-danger">
                <span class="fa fa-edit"></span>
              </button>
            </td>
  
          </tr>
        </tbody>
          
  
        
      </table>
    </div>
  </div>