<!--<p>edit-lien works!</p>-->
<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Lien
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="lienFormGroup" *ngIf="lienFormGroup" (ngSubmit)="onUpdateLien()">
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="Enter Tiltle ...">
          </div>
          <!-- <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
          class="alert alert-danger"> Title is Required</div> -->
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="url"
            placeholder="Enter Url ...">
          </div>
          
          <button type="submit" class="btn btn-success ">Save</button>
  
        </form>
      </div>
    </div>
  </div>