<nav class="navigation">
    <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">REGISTER</a></li>
        <li><a href="">PROFIL</a></li>
        <li><a href="">DOWLOADING</a></li>
    </ul>
</nav>
<header>
    <h2>CREEZ UN PROFIL</h2>
</header>


<section>
    <div class="cadreImageProfil"><img src="https://cdn3.vectorstock.com/i/1000x1000/50/07/default-photo-profil-icon-flat-vector-31995007.jpg"></div>
    <div class="cadreMonProfil"> 
        <h1>MON PROFIL</h1>
    </div>
</section>


    <form method="post" action="traitement.php">
        <p>
            <label for="pseudo">Noms</label> : <input type="text" name="pseudo" id="pseudo" />
        </p>
    </form>
    <form method="post" action="traitement.php">
        <p>
            <label for="pseudo">Prénoms</label> : <input type="text" name="pseudo" id="pseudo" />
        </p>
     </form>
     <form method="post" action="traitement.php">
        <p>
            <label for="pseudo">Date de naissance</label> : <input type="text" name="pseudo" id="pseudo" />
        </p>
     </form>
     <form method="post" action="traitement.php">
        <p>
            <label for="pseudo">Contact(s)</label> : <input type="text" name="pseudo" id="pseudo" />
        </p>
     </form>
     
     <form method="post" action="traitement.php">
        <p>
            <label for="pseudo">E-mail</label> : <input type="text" name="pseudo" id="pseudo" />
        </p>
     </form>

<footer>
    <p>Au revoir!</p>
</footer>