<!--<p>edit-loisir works!</p>-->
<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Loisir
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loisirFormGroup" *ngIf="loisirFormGroup" (ngSubmit)="onUpdateLoisir()">
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="nom"
            placeholder="Enter Leisure ...">
          </div>
          <!-- <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
          class="alert alert-danger"> Title is Required</div> -->
          
          <button type="submit" class="btn btn-success ">Save</button>
  
        </form>
      </div>
    </div>
  </div>