<!--<p>edit-langage works!</p>-->
<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Langage
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="langageFormGroup" *ngIf="langageFormGroup" (ngSubmit)="onUpdateLangage()">
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="nom"
            placeholder="Enter Langage ...">
          </div>
          <!-- <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
          class="alert alert-danger"> Title is Required</div> -->
          <div class="mb-3">
            <input
            type="number"
            min="0"
            class="form-control"
            formControlName="level"
            placeholder="Enter Level ...">
          </div>
          
          <button type="submit" class="btn btn-success ">Save</button>
  
        </form>
      </div>
    </div>
  </div>